<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'supply/styles.css' %}">
    <style>
        body{
            background-image: url('{% static "supply/bg.jpg"%}');
        }
    </style>
</head>
<body>

    <nav class="navbar">
        <div class="nav-inner">
            <div class="logo"><img src="{% static 'supply/logo.png' %}" alt="image"></div>
            <div class="menu">
                <span class="menu-item" id="home">Home</span>
                <span class="menu-item" id="about"> About</span>
                <span class="menu-item" id="contact"> Contact</span>
            </div>
        </div>
    </nav>

    <div class="map-container">
        <center><h1> Major Hotspots and Suppliers in Coimbatore</h1></center>
        <br>
        <br>
        <div class="map-primary" id="map">
            
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31329.8532308483!2d77.01115089612428!3d11.021238487607949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8582f1435fa59%3A0x137d95bfd8909293!2sPSG%20College%20Of%20Technology!5e0!3m2!1sen!2sin!4v1712644219595!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
    </div>

    <div class="analytics-container">
        <h1> Analytics </h1>
        <div class="analytics">

            <div class="critical">
                <canvas id="myChart"></canvas>
            </div>

            <div class="ai" onclick="openModal()"><p>Ask AI</p></div>
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <h2>LinkGPT</h2>
                  <br>
                  <div id="chatbot">
                    <div id="initialMessage" style="display: none;">{{ initial_message }}</div>
                  </div>
                  <div class="bot-input">
                    <form id="chatForm">
                        {% csrf_token %}
                        <input name="message" type="text" id="userInput" placeholder="Enter your message...">
                        <button type="submit" onclick="sendMessage()">Send</button>
                      </form>
                    
                  </div>
                  
                </div>
              </div>

            <div class="Restaurants"></div>

        </div>
    </div>

    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search Hotspot...">
        <button type="submit" class="search-button">Search</button>

    </div>

    <div class="result">
        <div class="result-item">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPZMaHKjcxIEV3i5-2IImdnH1PlJfCCT7bXQ&s" alt="">

            </div>
            
            <div>
                <p>Hotel Name</p>
                <p>Hotel Location</p>
                <p>★★★★★</p>
                <button class="req">Send Request</button>
            </div>
        </div>
        <div class="result-item">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPZMaHKjcxIEV3i5-2IImdnH1PlJfCCT7bXQ&s" alt="">

            </div>
            
            <div>
                <p>Hotel Name</p>
                <p>Hotel Location</p>
                <p>★★★★★</p>
                <button class="req">Send Request</button>
            </div>
        </div><div class="result-item">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPZMaHKjcxIEV3i5-2IImdnH1PlJfCCT7bXQ&s" alt="">

            </div>
            
            <div>
                <p>Hotel Name</p>
                <p>Hotel Location</p>
                <p>★★★★★</p>
                <button class="req">Send Request</button>
            </div>
        </div><div class="result-item">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPZMaHKjcxIEV3i5-2IImdnH1PlJfCCT7bXQ&s" alt="">

            </div>

            <div>
                <p>Hotel Name</p>
                <p>Hotel Location</p>
                <p>★★★★★</p>
                <button class="req">Send Request</button>
            </div>
        </div>
    </div>

    <footer>
        <section>
            <h2>LINK SPOT</h2>
            <br>
            <p>Volunteer</p>
            <p>About US</p>
            <p>Terms and Conditions</p>
            <p>Privacy Policy</p>
        </section>
    
        <section>
            <p>Contact US</p>
            <p>Instagram</p>
            <p>Main</p>
            <p>Phone number</p>
        </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api}}&callback=initMap" async defer></script>
    <script>
        var modal = document.getElementById("myModal");

        // Function to open the modal
        function openModal() {
            modal.style.display = "grid";
            var initialMessage = document.getElementById("initialMessage").textContent.trim();
            displayChatbotMessage(initialMessage);
        }

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }

        function displayChatbotMessage(message) {
            var chatbotDiv = document.getElementById("chatbot");
            // Create div for logo
            var logoDiv = document.createElement("div");
            logoDiv.className = "logo";
            var logoImg = document.createElement("img");
            logoImg.style.height = '35px';
            logoImg.style.width = '35px';
            logoImg.src = "{% static 'supply/chat.png' %}"; // Replace with the actual path to your logo image
            logoDiv.appendChild(logoImg);
            
            // Create div for chatbot message
            var messageElement = document.createElement("div");
            
            messageElement.className = "chatbot-message";
            messageElement.textContent = message;
            messageElement.appendChild(logoDiv);
            // Append logo and message to chatbot div
            
            chatbotDiv.appendChild(messageElement);
        }

        function sendMessage() {
            var userInput = document.getElementById("userInput").value;
            var chatbotDiv = document.getElementById("chatbot");
            var messageElement2 = document.createElement("div");
            messageElement2.className = "user-message";
            messageElement2.textContent =  userInput;
            chatbotDiv.appendChild(messageElement2);
        }

        // Function to handle form submission using AJAX
        $("#chatForm").submit(function(event) {
        event.preventDefault(); // Prevent default form submission behavior
        var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "{% url 'supply' %}",
                data: formData,
                success: function(response) {
                displayChatbotMessage(response.message);
                },
                error: function(xhr, status, error) {
                console.error("Error sending user message:", error);
                }
            });
        });

        var ctx = document.getElementById('myChart').getContext('2d');
        var Hotspot_Name = {{ Hotspot_Name|safe }};
        Hotspot_Name.sort().reverse()
        var Food_needed = {{ Food_needed|safe }};
        Food_needed.sort().reverse()
        console.log(Hotspot_Name)

        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Hotspot_Name,
            datasets: [{
                label: 'Food Needed',
                data: Food_needed,  // Replace with your actual chart_data array
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });




    function initMap() {
    var coordinates = {{ coordinates|safe }};

    var customStyles = [
        {
            featureType: 'poi',
            stylers: [{ visibility: 'off' }] // Hide all points of interest
        }
    ];

    // Create the map centered at the first coordinate
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {lat: parseFloat(coordinates[0][0]), lng: parseFloat(coordinates[0][1])},
        styles: customStyles
    });

    var customMarkerImage = {
        url: '{% static "supply/hotspot.png" %}', // Change this path to the location of your custom marker image
        scaledSize: new google.maps.Size(32, 32), // Adjust the size of the marker image
    };


    
    // Loop through coordinates to add markers
    for (var i = 0; i < coordinates.length; i++) {
        var lat = parseFloat(coordinates[i][0]);
        var lng = parseFloat(coordinates[i][1]);
        if (!isNaN(lat) && !isNaN(lng)) { // Check if conversion was successful
            var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
                icon:customMarkerImage


            });
        } else {
            console.error('Invalid latitude or longitude:', coordinates[i]);
        }
    }
}
      </script>
    

    
</body>


</html>